/* body style */
body {
  background-color: #979797;
}

a {
  color: blue
  
}

.WAW-text {
  color: #b100ff
}

.TETH-text {
  color: #0092ff
}

.ZAYIN-text {
  color: #20ff00
}

.MA1 h1 {
  font-family: monospace;
  text-align: center;
}

/* title style */
h1 {
  font-family: monospace;
  text-align: center;
}

li {
  font-family: monospace;
}

/* subtitle style */
h2 {
  font-family: monospace;
}

h3 {
  font-family: monospace;
  font-variant: small-caps;
  font-size: 25px
}

/* image style */
img {
  float: right;
  width: 250px;
  margin: 10px;
  border-color: #c5c5c5;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}

/* paragraph style */
p {
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  background-color: #c5c5c5
}
